* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f5;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
}

.navbar {

  position: relative;

  padding: 30px 80px;

  display: flex;

  justify-content: flex-end;

  align-items: center;

}

.logo img {

  width: 480px;

  position: absolute;

  top: -160px;

  left: 55px;

}
.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.3s;
}

.btn-primary {
  background-color: #79B4A9;
  color: white;
}

.btn-primary:hover {
  background-color: #676F54;
}

.btn-secondary {
  border: 2px solid #79B4A9;
  color: #676F54;
}

.btn-secondary:hover {
  background-color: #79B4A9;
  color: white;
}

.hero {
  max-width: 1500px;
  margin: -40px auto 80px auto;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 56px;
  color: #676F54;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 520px;
  border-radius: 30px;
  margin-bottom: -50px;
}

.cards-section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
}

.cards-section h2 {
  font-size: 38px;
  color: #676F54;
  margin-bottom: 40px;
  position: relative;
  top: -100px;
}

.cards-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: left;
  position: relative;
  top: -100px;
  
}
.cqrd

.card h3 {
  color: #676F54;
  margin-bottom: 15px;
}

.card p {
  line-height: 1.5;
}

.about {
  background-color: #D7F2BA;
  padding: 80px 40px;
  text-align: center;
}

.about h2 {
  color: #676F54;
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
}

footer {
  background-color: #676F54;
  color: white;
  text-align: center;
  padding: 30px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 38px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .cards-section {
    padding: 20px;
  }
}
.card:hover { background-color: #D7F2BA; }
